<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
        <a routerLink="/admin">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
            </span>
          </a>

      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa  fa-files-o"></i>
            <span>Catalog</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/category/categories"><i class="fa fa-circle-o"></i>Categories</a> </li>
          <li><a routerLink="/category/products"><i class="fa fa-circle-o"></i>products</a> </li>
          <li><a routerLink="/category/attributes" ><i class="fa fa-circle-o"></i> Attributes</a></li>
          <li><a routerLink="/category/options" ><i class="fa fa-circle-o"></i> Options</a></li>
          <li><a routerLink="/category/attributes" ><i class="fa fa-circle-o"></i> Manufactures</a></li>
          <li><a routerLink="/category/attributes" ><i class="fa fa-circle-o"></i> Downloads</a></li>
          <li><a routerLink="/category/reviews" ><i class="fa fa-circle-o"></i> Reviews</a></li>
          <li><a routerLink="/category/information" ><i class="fa fa-circle-o"></i> Information</a></li>
          <li><a routerLink="/category/feedback" ><i class="fa fa-circle-o"></i> Feedback</a></li>
          <li><a routerLink="/category/attributes" ><i class="fa fa-circle-o"></i> Gallery</a></li>
          <li><a routerLink="/category/table-reservation" ><i class="fa fa-circle-o"></i> Table Reservation</a></li>
          <li><a routerLink="/category/driver-management" ><i class="fa fa-circle-o"></i> Driver Management</a></li>

        </ul>
      </li>

      <li class="treeview">
        <a href="#">
            <i class="fa  icon-3x fa-pie-chart"></i>
            <span>Extentions</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/extentions/modules"><i class="fa fa-circle-o"></i> Modules</a></li>
          <li><a routerLink="/extentions/delivery"><i class="fa fa-circle-o"></i> Delivery</a></li>
          <li><a routerLink="/extentions/payments"><i class="fa fa-circle-o"></i> Payments</a></li>
          <li><a routerLink="/extentions/order-totals"><i class="fa fa-circle-o"></i> Order Totals</a></li>
          <li><a routerLink="/extentions/modules"><i class="fa fa-circle-o"></i> Product Feeds</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Orders</a></li>
          <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Returns</a></li>
          <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Coustomers</a></li>
          <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Offers</a></li>
          <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Sosial Meadia Offers</a></li>
          <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Coupons</a></li>
          <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Gift Vouchers</a></li>
          <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Mail</a></li>
        </ul>
      </li>


      <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>System</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Settings</a></li>
          <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> POS Systems</a></li>
          <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Design</a></li>
          <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Users</a></li>
          <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Localisation</a></li>
          <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> Reward Ponits</a></li>
          <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i>  Error Logs</a></li>
          <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Backup</a></li>
        </ul>
      </li>

     </ul>
  </section>
  <!-- /.sidebar -->
</aside>
